#preface-top-inner {
	margin-bottom: 20px; /* center buttons vertically in ribbon */
}

/* style form buttons like the Acquia Marina buttons */
form.button {
	display: inline;
}

div.editButtons {
	margin-bottom: 10px;
}

form input.button,
div.editButtons input.button {
	-moz-outline-radius: 4px 4px 4px 4px;
	background: url("/sites/all/themes/acquia_marina/images/blue-button.png") repeat-x scroll 0 0 transparent;
	border: 1px solid #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 100%;
	font-weight: bold;
	margin: 0 4px;
	outline: 1px solid #9BABB0;
	padding: 2px 4px;
	text-transform: uppercase;
}

form input.button:hover,
div.editButtons input.button:hover {
	background-position: left bottom;
	cursor: pointer;
}

/* Move section edit buttons to the right */
form.btn_secedit {
	display: block;
	text-align: right;
	margin-bottom: 20px;
}

/* Fix size for breadcrumbs; the problem is .breadcrumbs in drupal reduces size to 90%, but breadcrumbs is used twice in DokuWiki */
a.breadcrumbs {
	font-size: 100%;
}

/* Make textarea full-width */
#wiki__text {
	width: 95%;
}

